window.hypothesisConfig = function() {
  return {
    showHighlights: true,
    appType: 'via',
    requestConfigFromFrame: {
      {% if h_request_config -%}
      origin: '{{ h_request_config }}',
      {% endif %}
      {%- if h_ancestor_level -%}
      ancestorLevel: {{ h_ancestor_level }}
      {% endif %}
    },
    {% if h_open_sidebar %}
    openSidebar: true,
    {% endif %}
  };
}
